$border-rad: 2rem;
$mint: #15DEA5;

.progress {
  width:500px;
  padding:5px;
  background-color:white;
  border:1px solid black;
  height:28px;
  margin: 1rem;
  &__bar {
    width:100%;
    background-color: $mint;
    height:28px;
    margin:0;
    transform: scaleX(0);
  }
}

.btn {
  width: 10%;
  border-radius: 25px;
  background-color: $mint;
  color: white;
  font-size: 45px !important;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  &:active {
    & + .progress {    
      & > .progress__bar {
        animation: progress-bar 1000ms;
      }
    }    
  }
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  100% {
      transform: scaleX(1);
  }
}